<mat-toolbar class="toolbar">
  <button mat-icon-button aria-label="menu"
    (click)="toggleSidenav(toggle = true)">
    <img src="/assets/icon-menu.svg" alt="menu">
  </button>
  <img src="/assets/logo.svg" alt="logo">
  <span class="spacer"></span>
  <button mat-icon-button class="toolbar__cart" aria-label="logo">
    <img src="/assets/icon-cart.svg" alt="cart">
  </button>
  <button mat-icon-button aria-label="avatar">
    <img class="img__avatar" src="/assets/image-avatar.png" alt="avatar">
  </button>
</mat-toolbar>