.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toolbar {
    background: none;
    max-width: var(--max-width);
    height: 70px;
}.margin-bottom {
    margin-bottom: 10px;
}
.spacer {
    flex: 1 1 auto;
}

.img__avatar {
    width: 24px;
}

.toolbar__cart {
    position: relative;
    margin-right: 5px;
}

.sidenav__list {
    display: none;
}

.toolbar__hr {
    display: none;
}

.div__span {
    position: absolute;
    left: 50%;
    bottom: 45%;
    background: var(--color-orange);
    width: 20px;
    height: 14px;
    padding: 5px 3px;
    justify-content: center;

    border-radius: 30px;
}

.span {
    align-self: center;
    font-size: 10px;
    color: var(--color-white);

}

@media (min-width: 780px) { 

    .toolbar {
        height: 100px;
        /* background: red; */
    }

    .sidenav-btn {
        display: none;
    }

    .sidenav__list {
        /* margin: 0 0 10px 10px;  */
        margin-left: 40px;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        list-style-type: none;
        color: var(--color-dark-grayish-blue);
        width: 400px;
    }.sidenav__list-item {
        font-size: 14px;
        /* background: blueviolet; */
        height: 70%;
    }

    .toolbar__cart {   
        margin-right: 35px;
    }

    .img__cart {
        width: 20px;
    }

    .img__avatar {
        width: 45px;
    }

    .toolbar__hr {
        display: inline;
        align-self: center;
        width: 98%;
        opacity: .2;
    }
}