.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.toolbar {
    background: none;
    max-width: var(--max-width);
    height: 70px;
}.margin-bottom {
    margin-bottom: 10px;
}
.spacer {
    flex: 1 1 auto;
}

.img__avatar {
    width: 24px;
}

.toolbar__cart {
    margin-right: 5px;
}

.sidenav__list {
    display: none;
}

.toolbar__hr {
    display: none;
}

.mat-menu-panel.menu { 
    background: red;
    width: 400px; 
}

@media (min-width: 780px) { 

    .container {
        padding: 5px;
    }

    /* .toolbar { */
        /* margin-bottom: 20px; */
        /* border-bottom: 1px solid var(--color-dark-grayish-blue) ; */
    /* } */

    .sidenav-btn {
        display: none;
    }

    .sidenav__list {
        margin: 0 0 10px 10px;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        color: var(--color-dark-grayish-blue);
        width: 400px;
        /* background-color: tomato; */
    }.sidenav__list-item {
        font-size: 14px;
    }

    .img__cart {
        width: 18px;
    }

    .img__avatar {
        width: 35px;
    }

    .toolbar__hr {
        display: inline;
        margin-top: 5px;
        align-self: center;
        width: 97%;
        opacity: .2;
        /* border: .5px solid var(--color-dark-grayish-blue) ; */
    }
}