<div class="container">

  <mat-toolbar class="toolbar">
    <button mat-icon-button class="sidenav-btn margin-bottom" aria-label="menu" (click)="toggleSidenav(toggle = true)">
      <img src="assets/icon-menu.svg" alt="menu">
    </button>
    <img src="assets/logo.svg" class="margin-bottom" alt="logo">
    <ul class="sidenav__list">
      <li class="sidenav__list-item cursor-pointer">Collections</li>
      <li class="sidenav__list-item cursor-pointer">Men</li>
      <li class="sidenav__list-item cursor-pointer">Women</li>
      <li class="sidenav__list-item cursor-pointer">About</li>
      <li class="sidenav__list-item cursor-pointer">Contact</li>
    </ul>
    <span class="spacer"></span>
    <button mat-icon-button class="toolbar__cart margin-bottom" name="logo" aria-label="logo" [matMenuTriggerFor]="menu" #menuTrigger>
      <div *ngIf="cart !== 0" class="div__span display-flex">
        <span class="span">{{cart}}</span>
      </div>
      <img class="img__cart" src="assets/icon-cart.svg" alt="cart">
    </button>
    <button mat-icon-button class="button__avatar margin-bottom" name="avatar" aria-label="avatar">
      <img class="img__avatar" src="assets/image-avatar.png" alt="avatar">
    </button>

    <mat-menu #menu="matMenu" [hasBackdrop]="false" class="menu">
      <app-cart [cartItems]="cart" (cartEvent)="resetCart($event)"></app-cart>
    </mat-menu>

  </mat-toolbar>
  <hr class="toolbar__hr">
</div>