.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 550px;
    /* background-color: blue; */
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails {
    display: none;
}

:host-context(.gallery__img--resize) .gallery__img {
    width: 85.5%;
    cursor: auto;
}

:host-context(.thumbnails--resize) .thumbnails {
    width: 88%;
}

:host-context(.thumbnail-width) .thumbnail {
    width: 18%;
}

:host-context(.gallery__button--top) .gallery__button {
    top: 36%;
    width: 55px;
    height: 55px;
}

:host-context(.button--left) .gallery__button--left {
    left: 2%;
}

:host-context(.button--right) .gallery__button--right {
    left: 86%;
}


@media (min-width: 550px) {

    .gallery__img {
        width: 450px;
        border-radius: 15px;
        cursor: pointer;
    }

    .thumbnails {
        display: flex;
        justify-content: center;
    }
    .thumbnail {
        display: flex;
        border: none;
        width: 90px;
        margin: 12px;
        background: none;
        overflow: hidden;
    }

    .thumbnail__img {
        width: 100%;
        border-radius: 10px;
    }.thumbnail__img:hover {
        opacity: .6;
    }

    .gallery__image--active {
        border: 2px solid var(--color-orange);
        border-radius: 15px;
    }
    
    .thumbnail__img--active {
        opacity: .6;
    }
}