.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: brown;
    width: 100%;
    max-width: 550px;
}

.gallery__img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.thumbnails {
    display: none;
}

:host-context(.gallery__img--resize) .gallery__img {
    width: 100%;
}

@media (min-width: 550px) {

    .thumbnails {
        display: flex;
        justify-content: center;
    }
    .thumbnail {
        border-radius: 10px;
        width: 90px;
        margin: 15px;
    }

    .gallery__image--active {
        border: 2px solid var(--color-orange)
    }
}