.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 550px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumbnails {
    display: none;
}

:host-context(.gallery__img--resize) .gallery__img {
    width: 80%;
    cursor: auto;
}

:host-context(.thumbnails--resize) .thumbnails {
    width: 70%;
}

:host-context(.test) .thumbnail {
    width: 20%;
}


@media (min-width: 550px) {

    .gallery__img {
        /* width: 460px; */
        width: 450px;
        border-radius: 15px;
    }

    .thumbnails {
        display: flex;
        justify-content: center;
        /* background: green; */
    }
    .thumbnail {
        display: flex;
        border: none;
        width: 90px;
        margin: 15px;
        background: none;
        overflow: hidden;
    }

    .thumbnail__img {
        width: 100%;
        border-radius: 10px;
    }.thumbnail__img:hover {
        opacity: .6;
    }

    .gallery__image--active {
        border: 2px solid var(--color-orange);
        border-radius: 15px;
    }
    
    .thumbnail__img--active {
        opacity: .6;
    }
}