.gallery {
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gallery__img {
    border-radius: 15px;
    width: 500px;
}

.thumbnails {
    width: 100%;
    display: flex;
    justify-content: center;
}

.thumbnail {
    border-radius: 10px;
    width: 100px;
    margin: 20px 10px;
}

.gallery__image--active {
    border: 2px solid var(--color-orange)
}