.container {
    /* height: 100vh; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__actions {
    width: 80%;
    /* background-color: tomato; */
}

.btn-close {
    margin-bottom: 25px;
}

/* @media (min-width: 550px) {
    .container {
        display: flex;
    }
} */
