@import "../../public/general.css";

.sidenav__container {
  height: 100vh;
}

.sidenav {
  padding: 20px;
  background-color: var(--color-white);
  color: var(--color-very-dark-blue);
  width: 250px;
}

.sidenav__button {
  border: none;
  background: none;
}

.sidenav__content {
  /* background: blueviolet; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidenav__list {
  list-style-type: none;
  margin-top: 45px;
}

.sidenav__list-item {
  margin: 25px 0;
  font-size: 1.1rem;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: auto;
}

.gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background: chartreuse; */
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 50px 0;
}
.attribution a {
  font-size: 11px;
  color: var(--color-orange);
  text-decoration: none;
}

@media (min-width: 780px) {
  .gallery {
    margin-top: 40px;
  }
}

@media (min-width: 875px) {

  .gallery {
    padding-left: 20px;
    /* background-color: rebeccapurple; */
  }

  .container {
    /* background: hotpink; */
    max-width: 1125px;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .gallery {
    margin-top: 80px;
  } 
}
