@import '../../public/general.css';

.sidenav__container {
    height: 100vh;
}

.sidenav {
    padding: 20px;
    background-color: var(--color-white);
    color: var(--color-very-dark-blue);
    width: 250px;
}

.sidenav__button {
    border: none;
    background: none;
}

.sidenav__list {
    list-style-type: none;
    margin-top: 45px;
}

.sidenav__list-item {
    margin: 25px 0;
    font-size: 1.1rem;
    font-weight: 700;
}

.grid {
    display: grid;
    grid-template-columns: auto;
}

.gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: chartreuse;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { 
    font-size: 12px;
    color: var(--color-orange);
    text-decoration: none;
}

@media (min-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .gallery {
        height: 100vh;
    }
}
 