<mat-sidenav-container class="sidenav__container">
  <mat-sidenav class="sidenav" [(opened)]="toggle_sidenav">
    <button type="button" class="sidenav__button cursor-pointer" (click)="toggle_sidenav = false">
      <img src="/assets/icon-close.svg" alt="x">
    </button>
    <ul class="sidenav__list">
      <li class="sidenav__list-item">Collections</li>
      <li class="sidenav__list-item">Men</li>
      <li class="sidenav__list-item">Women</li>
      <li class="sidenav__list-item">About</li>
      <li class="sidenav__list-item">Contact</li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav__content">

    <div class="container">
      <!-- mete todo aquí -->
      <app-navbar (toggle_sidenav)="toggleSidenav($event)"></app-navbar>
      <div class="grid">
        <div class="gallery">
          <app-gallery [callLightbox]="callLightbox"></app-gallery>
        </div>
        <app-description></app-description>
      </div>
      <div class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
        Coded by <a href="https://www.frontendmentor.io/profile/AbdielP">AbdielP</a>.
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
