.main {
    display: flex;
    justify-content: center;
    padding: 20px 25px;
    /* background: red; */
    width: 100%;
}

.container {
    /* background: gray; */
    max-width: 550px;
}

.title {
    text-transform: uppercase;
    color: var(--color-orange);
    letter-spacing: 1.5px;
    font-weight: 700;
    font-size: .76rem;
}

.subtitle {
    font-size: 1.72rem;
    font-weight: 700;
    margin: 14px 0;
}

.main__paragraph {
    color: var(--color-dark-grayish-blue);
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
}

.main__price-container, .price-container {
    align-items: center;
}.main__price-container--mt {
    margin-top: 25px;
    justify-content: space-between;
}

.main__price {
    font-weight: 700;
    font-size: 1.8rem;
}

.main__badge {
    font-weight: 700;
    padding: 3px 6px;
    font-size: 1.1rem;
    margin-left: 15px;
    border-radius: 5px;
    color: var(--color-orange);
    background-color: var(--color-pale-orange);
}

.main__price-before {
    color: var(--color-grayish-blue);
    font-size: 1.1rem;
    text-decoration: line-through;
}

.cart-container {
    flex-direction: column;
    /* background: red; */
}

.container__div {
    background: var(--color-light-grayish-blue);
    margin: 25px 0 18px 0;
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.1);
    border-radius: 8px;
}


.cart-container__btn {
    border: 1px solid var(--color-light-grayish-blue);
    background: var(--color-light-grayish-blue);
    padding: 16px 25px;
    background-repeat: no-repeat;
    background-position: center;
    /* margin: 25px 0 18px 0; */
}.cart-container__btn-minus {
    width: 10%;
    border-radius: 8px 0 0 8px;
    background-image: url('/assets/icon-minus.svg');
}.cart-container__btn-plus {
    width: 10%;
    border-radius: 0 8px 8px 0;
    background-image: url('/assets/icon-plus.svg');
}

.cart-container__div {
    background: var(--color-light-grayish-blue);
    width: 80%;
    font-weight: 700;
    text-align: center;
}

.cart-button {
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    background: var(--color-orange);
    border: none;
    border-radius: 10px;
    padding: 18px;
    font-weight: 700;
}.cart-button__img {
    margin-right: 15px;
    width: 18px;
}

@media (min-width: 875px) { 

    /* .main {
        min-width: 400px;
        width: 100%;
    } */

    .container {
        /* background: gray; */
        /* max-width: 900px; */
        max-width: 450px;
        margin-top: 120px;
    }

    .main__paragraph {
        margin: 30px 0 0 0;
    }

    .main__price {
        margin-bottom: 10px;
    }

}


@media (min-width: 1055px) { 
    .main__price-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .subtitle {
        font-size: 2.8rem;
    }

    .cart-container {
        flex-direction: row;
        align-items: center;
    }

    .cart-button {
        width: 290px;
        margin-top: 6px;
        margin-left: 20px;
    }
}