<section class="main">
    <div class="container">
        <h1 class="title">Sneaker Company</h1>
        <h2 class="subtitle color-dark-blue">Fall Limited Edition Sneakers</h2>
        <p class="main__paragraph">These low-profile sneakers are your perfect casual wear companion. Featuring a
            durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
        <div class="main__price-container main__price-container--mt display-flex">
            <div class="price-container display-flex">
                <p class="main__price color-dark-blue">$125.00</p>
                <p class="main__badge">50%</p>
            </div>
            <h3 class="main__price-before">$250.00</h3>
        </div>
        <div class="cart-container display-flex">
            <div class="buttons-container display-flex">
                <button type="button" class="cart__btn display-flex cursor-pointer" name="btnminus" aria-label="btnminus" (click)="decreaseCounter()">
                    <svg width="12" height="4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z" id="a"/></defs><use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a"/></svg>
                </button>
                <div class="buttons-container__div display-flex">
                    {{counter}}
                </div>
                <button type="button" class="cart__btn display-flex cursor-pointer" name="btnplus" aria-label="btnplus" (click)="increaseCounter()">
                    <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z" id="b"/></defs><use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b"/></svg>
                </button>
            </div>
            <button class="cart-button display-flex cursor-pointer" (click)="addToCart()">
                <img class="cart-button__img" src="assets/icon-cart-white.svg" alt="cart">
                Add to cart
            </button>
        </div>
    </div>
</section>