<section class="main">
    <h1>Sneaker Company</h1>
    <h2>Fall Limited Edition Sneakers</h2>
    <p>These low-profile sneakers are your perfect casual wear companion. Featuring a 
        durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
    <div class="display-flex">
        <div>
            <p>$125.00 <span>50%</span></p>
        </div>
        <h6>$250.00</h6>
    </div>
    <div>
        <div class="display-flex">
            <button>-</button>
            <div>0</div>
            <button>+</button>
        </div>
        <button>
            <img src="/assets/icon-cart.svg" alt="cart">
            Add to cart
        </button>
    </div>
</section>
