<section class="main">
    <div class="container">
        <h1 class="title">Sneaker Company</h1>
        <h2 class="subtitle color-dark-blue">Fall Limited Edition Sneakers</h2>
        <p class="main__paragraph">These low-profile sneakers are your perfect casual wear companion. Featuring a
            durable rubber outer sole, they’ll withstand everything the weather can offer.</p>
        <div class="main__price-container main__price-container--mt display-flex">
            <div class="main__price-container display-flex">
                <p class="main__price color-dark-blue">$125.00</p>
                <p class="main__badge">50%</p>
            </div>
            <h6 class="main__price-before">$250.00</h6>
        </div>
        <div class="cart-container display-flex">
            <div class="display-flex">
                <button class="cart-container__btn cart-container__btn-minus"></button>
                <div class="cart-container__btn cart-container__div">0</div>
                <button class="cart-container__btn cart-container__btn-plus"></button>
            </div>
            <button class="cart-button display-flex">
                <img class="cart-button__img" src="/assets/icon-cart-white.svg" alt="cart">
                Add to cart
            </button>
        </div>
    </div>
</section>