* {
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
    background: var(--color-white);
}

body {
    width: 100%;
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.cursor-pointer {
    cursor: pointer;
}

.gallery__button {
    position: absolute;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    top: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: var(--color-white);
}.gallery__button--left {
    background-image: url('./assets/icon-previous.svg');
    right: 85%;

}.gallery__button--right {
    background-image: url('./assets/icon-next.svg');
    left: 85%;
}

.display-flex {
    display: flex;
}

.color-dark-blue {
    color: var(--color-very-dark-blue);
}


.sidenav__list-item:hover {
    color: var(--color-very-dark-blue);
    border-bottom: 3px solid var(--color-orange);
}

mat-dialog-container.mat-dialog-container {
    background: none;
    box-shadow: none;
}

.mat-menu-panel.menu { 
    width: 375px; 
    max-width: 375px; 
    height: 290px;
}

/* .cdk-overlay-dark-backdrop {
    display: none;
    background: none!important;
}

@media (min-width: 550px) { 
    mat-dialog-container.mat-dialog-container {
        display: flex;
    }
} */


