* {
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

html, body { 
    height: 100%;
    background: var(--color-white);
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.cursor-pointer {
    cursor: pointer;
}

.gallery__button {
    position: absolute;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    top: 45%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px;
    background-color: var(--color-white);
}.gallery__button--left {
    background-image: url('./assets/icon-previous.svg');
    right: 85%;

}.gallery__button--right {
    background-image: url('./assets/icon-next.svg');
    left: 85%;
}

.display-flex {
    display: flex;
}

.color-dark-blue {
    color: var(--color-very-dark-blue);
}
